.container {
  background-color: transparent;
  padding: 8;
  border-bottom: 0.5px solid gray;
  cursor: pointer;
  transition: all 0.1s ease-in-out;
}

.container:hover {
  background-color: gray;
  opacity: 0.5;
}